body{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 16px;
	font-weight: 200;
	justify-content: center;
	height: 100%;
	width: 1400px;
	margin: auto;
}

navigation{
	width: 100%;
	height: 35px;
	background-color: #1d1d1d;
	color: #ffffff;
	display: inline-flex;
}

navigation a{
	display: inline;
}

navigation a.headtext{
	float: left;
}

navigation ul{
	vertical-align: middle;
	float: left;
	list-style: none;
	text-decoration: none;
	display: inline-flex;
	margin: auto;
}

headerlink{
	margin: auto 20px auto 20px;
}